body {
    background-image: url("images/entryBackground.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    text-align: center;
    color: #4f340e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    /*align-items: center;*/
}
#welcome_addButton:hover {
    background-color: #f0e1c6;
    cursor: pointer;
}
#welcome_addButton:active {
    background-color: #e6d4b3;

}
